
<mat-grid-list cols="3">
    <mat-grid-tile class="gridBorder"></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header >
                <mat-card-title></mat-card-title>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com"  [(ngModel)]="inputLogin">                
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="inputSenha">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>                    
                </mat-form-field> 

                <button mat-raised-button color="primary" (click)="logar()">Login</button>
                <button mat-raised-button color="accent" (click)="logout()">Logout</button>
             
            </mat-card-content>
        
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="gridBorder"></mat-grid-tile>
</mat-grid-list>
{{mensagem}}
