<mat-grid-list cols="5">
<button mat-flat-button (click)="navTo('home')" >Home</button>

<button mat-flat-button [matMenuTriggerFor]="appMenu" >Menu</button>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>item 1</button>
  <button mat-menu-item>item 2</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenuStock"  style="display: {{display}}">Stock</button>
  <mat-menu #appMenuStock="matMenu">
    <button mat-menu-item  (click)="onStock()">list</button>
    <button mat-menu-item (click)="navTo('stocks-create')">Edit</button>
</mat-menu>

{{usuario.name}}
<button (click)="navTo('login')"> login</button>
<button (click)="logout()">logout</button>
</mat-grid-list>


