

<table mat-table [dataSource]="stocks">
    <ng-container matColumnDef="id">
        <th mat-header-cell  *matHeaderCellDef>Id.</th>
        <td mat-cell *matCellDef="let stock"> {{stock.id}}</td>
    </ng-container>

    <ng-container matColumnDef="cod">
        <th mat-header-cell  *matHeaderCellDef>Cod.</th>
        <td mat-cell *matCellDef="let stock"> {{stock.cod}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell  *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let stock"> {{stock.name}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell  *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let stock"> {{stock.description}}</td>
    </ng-container>

    <ng-container matColumnDef="actiondelete">
        <th mat-header-cell  *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let stock"> 
            <button (click)="delete(stock.id)" >delete</button> 
        </td>
    </ng-container>

    <ng-container matColumnDef="actionupdate">
        <th mat-header-cell  *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let stock"> 
            <button (click)="goUpdate(stock.id)" >update</button> 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>